* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(39, 123, 134, 0.822);
}
.x-image {
  width: 12rem;
  height: 12rem;
  background: url(./ximage.png) center;
  background-size: cover;
  position: absolute;
  left: 10%;
  top: 20%;
  transition: all 0.4s;
}
.o-image {
  width: 12rem;
  height: 12rem;
  background: url(./oimage.png) center;
  background-size: cover;
  position: absolute;
  right: 10%;
  top: 20%;
  transition: all 0.4s;
  font-weight: 700;
  font-size: 5rem;
}
.active {
  transform: scale(1.1);
  border: 0.5rem solid #e0f780;
  border-radius: 50%;
}
.score-x {
  font-weight: 700;
  font-size: 5rem;
  position: absolute;
  left: 15%;
  top: 55%;
}
.score-o {
  font-weight: 700;
  font-size: 5rem;
  position: absolute;
  right: 14.5%;
  top: 55%;
}

.grid-container {
  width: 40%;
  height: 70%;
  display: grid;
  background-color: #033f47;

  grid-template-columns: 1fr 1fr 1fr;

  overflow: hidden;
  transition: all 0.3s;
}

.grid-container:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 20px 25px;
}
.cell {
  border: 1px solid white;
  transition: all 0.3s;
}

.cell:hover {
  background-color: #e0f780;
  cursor: pointer;
}
.cell:active {
  transform: scale(0.95);
}

.done-x,
.done-o {
  background-size: cover;
  background-position: center;
  background-color: #e0f780;
}

.done-x {
  background-image: url(./ximage.png);
}
.done-o {
  background-image: url(./oimage.png);
}

@media (max-height: 600px) {
  hr {
    display: none;
  }
}

@media (max-width: 1000px) {
  .grid-container {
    width: 70%;
    height: 60%;
  }
  .x-image,
  .o-image {
    width: 3rem;
    height: 5rem;
    top: 0%;
  }
  .x-image {
    left: 5%;
  }
  .o-image {
    right: 5%;
  }
  .score-x {
    font-size: 2rem;
    left: 7%;
    top: 15%;
  }
  .score-o {
    font-size: 2rem;
    right: 7%;
    top: 15%;
  }

}
.btn {
  border: none;
  padding: 12px 28px;
  background-color: #e0f780;
  font-size: 2rem;
  margin: 1rem;
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #033f47;
  color: #fff;
}
.btn:active {
  transform: scale(0.95);
  background-color: #033f47;
  color: #fff;
}

hr {
  color: #e0f780;
}

.container {
  width: 60rem;
  height: 25rem;
  background-color: rgba(197, 207, 216, 0.8);
  transition: display 0.4s;
  padding: 4rem;
  border-radius: 5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.container h3 {
  font-size: 5rem;
  font-weight: 700;
  margin: 2rem 0;
}
.play-again {
  font-weight: 700;
  text-transform: capitalize;
  padding: 2rem 4rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.4s;
  background-color: #033f47;
  color: #fff;
  font-size: 1.5rem;
}
.play-again:hover {
  background-color: #e0f780;
  color: black;
}

.play-again:active {
  transform: scale(0.9);
}
